openapi: 3.0.2
info:
  version: 0.1.0
  title: Registry of Open Community Challenge API
  contact:
    name: The ROCC Team
    email: thomas.schaffter@sagebionetworks.org
    url: "https://Sage-Bionetworks.github.io/rocc-schemas"
  license:
    name: Apache 2.0
    url: "https://Sage-Bionetworks.github.io/rocc-schemas"
  x-logo:
    url: "https://Sage-Bionetworks.github.io/rocc-schemas/logo.png"
  description: >
    The OpenAPI specification implemented by the Challenge Registries.

    # Introduction

    TBA
tags:
  # - name: Challenge
  #   description: Operations about challenges
  - name: Organization
    description: Operations about organizations
  # - name: User
  #   description: Operations about users
servers:
  - url: "{protocol}://rocc.org/api/v1"
    variables:
      protocol:
        enum:
          - http
          - https
        default: https
paths:
  /organizations:
    $ref: paths/organizations.yaml
  /organizations/{organizationId}:
    $ref: paths/organizations@{organizationId}.yaml
  # /challenges:
  #   $ref: paths/challenges.yaml
  # /challenges/{id}:
  #   $ref: paths/challenges@{id}.yaml
  # /users/{username}:
  #   $ref: paths/users@{username}.yaml