openapi: 3.0.2
info:
  version: 0.2.0
  title: Registry of Open Community Challenge API
  contact:
    name: The ROCC Team
    email: thomas.schaffter@sagebionetworks.org
    url: "https://Sage-Bionetworks.github.io/rocc-schemas"
  license:
    name: Apache 2.0
    url: "https://Sage-Bionetworks.github.io/rocc-schemas"
  x-logo:
    url: "https://Sage-Bionetworks.github.io/rocc-schemas/logo.png"
  description: >
    The OpenAPI specification implemented by the Challenge Registries.

    # Introduction

    TBA
tags:
  - name: Challenge
    description: Operations about challenges
  - name: ChallengePlatform
    description: Operations about challenge platforms
  - name: Grant
    description: Operations about grants
  - name: Organization
    description: Operations about organizations
  - name: Person
    description: Operations about persons
  - name: Tag
    description: Operations about tags
  - name: User
    description: Operations about users
  - name: HealthCheck
    description: Operations about health checks
servers:
  - url: "{protocol}://rocc.org/api/v1"
    variables:
      protocol:
        enum:
          - http
          - https
        default: https
paths:
  /challenges:
    $ref: paths/challenges.yaml
  /challenges/{challengeId}:
    $ref: paths/challenges@{challengeId}.yaml
  /challengePlatforms:
    $ref: paths/challengePlatforms.yaml
  /challengePlatforms/{challengePlatformId}:
    $ref: paths/challengePlatforms@{challengePlatformId}.yaml
  /grants:
    $ref: paths/grants.yaml
  /grants/{grantId}:
    $ref: paths/grants@{grantId}.yaml
  /organizations:
    $ref: paths/organizations.yaml
  /organizations/{organizationId}:
    $ref: paths/organizations@{organizationId}.yaml
  /persons:
    $ref: paths/persons.yaml
  /persons/{personId}:
    $ref: paths/persons@{personId}.yaml
  /tags:
    $ref: paths/tags.yaml
  /tags/{tagId}:
    $ref: paths/tags@{tagId}.yaml
  /users:
    $ref: paths/users.yaml
  /users/{userId}:
    $ref: paths/users@{userId}.yaml
  /healthcheck:
    $ref: paths/healthCheck.yaml
